[submodule "ExternalAddons/ofxSuperLog"]
	path = ExternalAddons/ofxSuperLog
	url = git@github.com:armadillu/ofxSuperLog.git
[submodule "ExternalAddons/ofxRemoteUI"]
	path = ExternalAddons/ofxRemoteUI
	url = git@github.com:local-projects/ofxRemoteUI.git
[submodule "ExternalAddons/ofxTimeMeasurements"]
	path = ExternalAddons/ofxTimeMeasurements
	url = git@github.com:armadillu/ofxTimeMeasurements.git
[submodule "ExternalAddons/ofxHistoryPlot"]
	path = ExternalAddons/ofxHistoryPlot
	url = git@github.com:local-projects/ofxHistoryPlot.git
[submodule "openFrameworks"]
	path = openFrameworks
	url = git@github.com:markkorput/openFrameworks.git
